0.0.0.0:2015

root * /var/www/html

log

rewrite * /maintenance.html

{
    storage file_system {
        root /var/lib/caddy
    }
}

header / {
  Cache-Control "no-cache, no-store, must-revalidate"
  Pragma "no-cache"
  Expires "0"
}
